/* class類別前面是用. */
.drink{
    color:rgb(164, 87, 236)
}

.teacher{
    color: rgb(174, 75, 75);
}

.food{
    color: greenyellow;
}

.background-yellow{
    background-color: yellow;
}

/* id前面是用# */
#css-h1{
    color: orange;
    background-color: gray;
}