/* Universal Selector */
/* *米字號是把html所有的文字顏色都改成橘色，但有指定的除外 */
* {
  color: orange;
}

/* Element selector */
/* 把html中所有h1標籤的背景改成灰色的 */
h1 {
  background-color: gray;
}

/* Class selector */
/* 把html中所有class為class-1的背景改成紫色 */
.class-1 {
  background-color: rgb(148, 111, 199);
}
/* 把html中h3標籤內class為class-2的背景改成這個色 */
h3.class-2 {
  background-color: rgb(192, 210, 137);
}

/* Id selector */
/* 把html中class為class-1和id為id-1的標籤字改成棕色 */
#id-1,
.class-1 {
  color: brown;
}

/* Grouping Selector */
/* 一次選取多個 */
h4,
h5,
h6 {
  background-color: chocolate;
}

/* Descendant Selector */
/* Descendant=後裔，因為整個HTML就一個跟DOM有關的樹，所以父節點下面可以有複數個子節點 */
/* 選取div標籤中class=link(父節點)底下的p標籤(子節點2個) */
div.link1 p {
  color: silver;
}

/* 在html中找到ul標籤再找裡面有沒有li標籤，有的話把li標籤改成以下 */
ul li {
  background-color: rgb(0, 123, 255);
}

/* 在html中找到ul標籤再找裡面有沒有a標籤，有的話把a標籤改成以下 */
ul a {
  color: whitesmoke;
}

/* Attribute Slector */
/* Attribute是HTML中Element的屬性 */
/* []裡面是放標籤的屬性，下面就是找input標籤裡屬性有type的，他的type是否為text，有的話改成以下 */
input[type="text"] {
  background-color: khaki;
}
/* []裡面是放標籤的屬性，下面就是找有沒有標籤的屬性有href的，有的話改成以下 */
[href] {
  background-color: lightseagreen;
}

/* pseudo-class slector */
/* 用於指定所選Element的特殊狀態 */
/* [type]:hover意思是當滑鼠滑過有type標籤的地方時改成以下 */
[type]:hover {
  background-color: lawngreen;
}
/* 選取input標籤中type為password的，active意思是當滑鼠壓住個地方時改成以下 */
input[type="password"]:active {
  color: rgb(0, 123, 255);
}

/* pseudo(偽)-element(元素) */
/* 偽元素的目的是創造一個在DOM中不存在的元素 */
/* 像是底下我們就像用了一看不到的tag把p標籤的第一行包住 */
p::first-line {
  font-size: 32px;
}
/* p::before就是在每個p標籤前面加上">>>>>"，文字顏色為midnightblue */
p::before {
  content: ">>>>>";
  color: midnightblue;
}
/* *::selection是pseudo很常用的，就是我們選取(反白)的部分改成以下 */
*::selection {
  background-color: olivedrab;
  color: yellow;
}
