/* 把html中所有h1標籤的背景改成灰色的 */
h1{
    background-color: gray;
}

/* 把html中所有class為class-1的背景改成紫色 */
.class-1{
    background-color: rgb(148, 111, 199);
}

/* 把html中class為class-1和id為id-1的標籤字改成棕色 */
#id-1, .class-1{
    color: brown;
}

/* *米字號是把html所有的背景顏色都改成黃色，但有指定的除外 */
*{
    color: orange;
}

/* 在html中找到ul標籤再找裡面有沒有li標籤，有的話把li標籤改成以下 */
ul li{
    background-color: rgb(0, 123, 255);
}

/* 在html中找到ul標籤再找裡面有沒有a標籤，有的話把a標籤改成以下 */
ul a{
    color: whitesmoke;
}

/* []裡面是放標籤的屬性，下面就是找有沒有標籤的屬性有type的，有的話改成以下 */
[type]{
    background-color: khaki;
}

/* []裡面是放標籤的屬性，下面就是找有沒有標籤的屬性有href的，有的話改成以下 */
[href]{
    background-color: lightseagreen;
}

/* [type]:hover意思是當滑鼠滑過有type標籤的地方時改成以下 */
[type]:hover{
    background-color: lawngreen;
}